.home {
  position: fixed;
  width: 100%;
  padding: 0 16px;
  background-color: #fff;
  .home_top {
    display: flex;
    align-items: center;
    height: 48px;
    div {
      width: 33%;
      text-align: center;
    }
    .active {
      font-size: 18px;
      font-weight: 550;
      span {
        border-bottom: 1px solid blue;
      }
    }
  }
}
