body{
    font-size: 16px;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,texarea,p,blockquote,th,td{
    margin:0px;
    padding:0px;
}
.adm-nav-bar,.adm-tab-bar{
    background-color: #fff;
}